<h1>Recipes for <%= @search_keyword %>:</h1>

<table>
  <thead>
    <td>Thumbnail</td> 
    <td>Title</td> 
    <td>Social Rank</td> 
  </thead>

  <% @recipes.each do |recipe| %>
    <tr>
      <td><%= image_tag(recipe[:thumbnail], width: 100, height: 100) %></td>
      <td><%= sanitize(recipe[:title]) %></td>
      <td><%= recipe[:social_rank] %></td>
    </tr>
  <%end%>
</table>
